<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <title>RateIt</title>
    </head>
    <div class="topnav">
        <a class="active" href="{% url 'rate:index' %}">Home</a>
        <a href="{% url 'rate:genres' %}">Genres</a>
        <a href="{% url 'rate:add_rating' %}">Add Rating</a>
        <a href="{% url 'rate:my_media' %}">My Books and Movies</a>
        <a href="{% url 'rate:login' %}">Login</a>
    </div>
    <body>
        {% block body_block %}
        {% endblock %}
    </body>
</html>