{% extends "rate/base.html" %}
{% load staticfiles %}

{% block title_block %}
    Genres
{% endblock %}

{% block body_block %}
<style>
    * {
      box-sizing: border-box;
    }
    
    .column {
      float: left;
      width: 225px;
      padding: 5px;
    }
    
    /* Clearfix (clear floats) */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
</style>
<h1>Genres</h1>
    {% for genre, movies_list in movies.items %}
    {% if movies_list%}
        <h2>{{genre}} Movies</h2>
        <div class="row">
            {% for movie in movies_list %}
                <div class="column">
                    <h4>{{ movie.title }}</h4>
                    <h6>Rating: {{ movie.rating }}</h6>
                    <figure>
                        <img style="width: 100%" src="{{ movie.image }}"; this.src="'/media/{{ movie.image }}" alt="{{ movie.title }} poster" height="275"/>
                    </figure>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endfor %}   


<div class="container">
    <div class="row">
        <!-- Movies Column -->
        <div class="col-md-6">
            <h2>Movies</h2>
            {% for movie in movies %}
                <div>
                    <h4>{{ movie.genre }}: {{ movie.title }}</h4>
                    {% for rating in movie.movie_rating_set.all %}
                        <ul>
                            <li>Rating: {{ rating.rating }}</li>
                        </ul>
                    {% endfor %}
                </div>
            {% empty %}
                <p>No movies to display.</p>
            {% endfor %}
        </div>
        
        <!-- Books Column -->
        <div class="col-md-6">
            <h2>Books</h2>
            {% for book in books %}
                <div>
                    <h4>{{ book.genre }}: {{ book.book_title }}</h4>
                    {% for rating in book.book_rating_set.all %}
                        <ul>
                            <li>Rating: {{ rating.rating }}</li>
                        </ul>
                    {% endfor %}
                </div>
            {% empty %}
                <p>No books to display.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

