{% extends 'rate/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

#popular_movies { display: inline-block; }

{% block body_block %}
<h1>RateIt!</h1>
<h2>Most Popular Movies</h2>

<style>
    * {
      box-sizing: border-box;
    }
    
    .column {
      float: left;
      width: 275px;
      padding: 5px;
    }
    
    /* Clearfix (clear floats) */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
    </style>

    <div class="row">
        {% for movie in movies %}
            <div class="column">
                <h3>{{movie.title}}</h3>
                <h5>Rating:{{movie.rating}}</h5>
                <figure>
                    <img style="width: 100%" src="{{ movie.image }}"; this.src="'/media/{{ movie.image }}" alt="{{ movie.title }} poster" height="275"/>
                    
                </figure>
                
            </div>
        {% endfor %}
           
    </div>
    
    <h2>Most Popular Books</h2>
    <div class="row">
        {% for book in books %}
            <div class="column">
                <h3>{{book.title}}</h3>
                <h5>Rating:{{book.rating}}</h5>
                <figure>
                    <img style="width: 100%" src="{{ book.image }}"; this.src="'/media/{{ book.image }}" alt="{{ book.title }} poster" height="275"/>
                </figure>
            </div>
        {% endfor %}
           
    </div>
    
{% endblock %}