{% extends 'rate/base.html' %}
{% load static %}

{% block title_block %}
    My Books and Movies
{% endblock %}

{% block body_block %}
<div class="container">
    <div class="row">
        <!-- Movies Column -->
        <div class="col-md-6">
            <h2>My Movies</h2>
            {% for movie in my_movies %}
                <div>
                    <h4>{{ movie.title }}</h4>
                    <p>Genre: {{ movie.genre }}</p>
                    <p>Rating: {{ movie.rating }}</p>
                    <p>Comment: {{ movie.comment }}</p>
                    {% if movie.image %}
                        <img src="{{ movie.image }}" alt="{{ movie.title }}" style="width:100px; height:auto;">
                    {% endif %}
                </div>
            {% empty %}
                <p>You have not rated any movies yet.</p>
            {% endfor %}
        </div>
        
        <!-- Books Column -->
        <div class="col-md-6">
            <h2>My Books</h2>
            {% for book in my_books %}
                <div>
                    <h4>{{ book.title }}</h4>
                    <p>Genre: {{ book.genre }}</p>
                    <p>Rating: {{ book.rating }}</p>
                    <p>Comment: {{ book.comment }}</p>
                    {% if book.image %}
                        <img src="{{ book.image }}" alt="{{ book.title }}" style="width:100px; height:auto;">
                    {% endif %}
                </div>
            {% empty %}
                <p>You have not rated any books yet.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
