{% extends "rate/base.html" %}
{% load staticfiles %}
 
{% block title_block %}
    My Books and Movies
{% endblock %}
 
{% block body_block %}
<style>
    * {
      box-sizing: border-box;
    }
    
    .column {
      float: left;
      width: 225px;
      padding: 5px;
    }
    
    /* Clearfix (clear floats) */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
</style>
<h1>My Books and Movies</h1>
    <!--display all movies rated: -->
    {%if my_movies %} <!--if a movie has been rated by the user -->
        <h2> My Movies</h2>
        <div class="row">
            {% for movie in my_movies %}
                <div class="column">
                <h3>{{ movie.title }}</h3>
                <img style="width: 100%" src="{{ movie.picture }}"; this.src="'/meia/{{ movie.picture }}" alt="{{ movie.title }} poster" height="275"/></br>
                Genre: {{ movie.genre }}</br>
                Review: {{ movie.comment }}</br>
                Rating: {{ movie.rating }}</br>
                
                </div>

        {% endfor %}
        </div>
    {% endif %}
    {% if my_books %}
        <h2> My Books</h2>
        <div class="row">
            {% for book in my_books %}
            <div class="column">
                <h3>{{ book.title }}</h3>
                Image: <img style="width: 100%" src="{{ book.image }}"; this.src="'/meia/{{ book.picture }}" alt="{{ book.title }} poster" height="275"/></br>
                Genre: {{ book.genre }}</br>
                Review: {{ book.comment }}</br>
                Rating: {{ book.rating }}</br>
            </div>
            {% endfor %}
        </div>
        
    {% endif %}
{% endblock %}
 
