{% extends 'rate/base.html' %}
{% block title_block %}
Register
{% endblock %}

{% block body_block %}
<h2>Register</h2>
<form method="post">
    {% csrf_token %}
    {% for field in user_form %}
        <p>
            {{ field.errors }}
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.name == "username" %}
                <br><small>Please enter your email account as your username and ensure its format is correct.</small>
            {% endif %}
        </p>
    {% endfor %}
    {{ profile_form.as_p }}
    <input type="submit" value="Register">
</form>
{% if registered %}
<p>Thank you for registering!</p>
{% else %}
<p>Register to rate your favorite books and movies!</p>
{% endif %}
{% endblock %}
